
.ipynb_checkpoints/AR2019-checkpoint.ipynb
.ipynb_checkpoints/Transcripts2019-checkpoint.ipynb
Transcripts2019.ipynb
.ipynb_checkpoints/Transcripts2019_working-checkpoint.ipynb
Factset.csv
__pycache__/transcript_functions.cpython-36.pyc
__pycache__/transcript_functions.cpython-36.pyc
Transcripts Scraping/.ipynb_checkpoints/transcripts_scraper-checkpoint.ipynb
.ipynb_checkpoints/transcripts_scraper-checkpoint.ipynb
