
.ipynb_checkpoints/AR2019-checkpoint.ipynb
.ipynb_checkpoints/Transcripts2019-checkpoint.ipynb
Transcripts2019.ipynb
.ipynb_checkpoints/Transcripts2019_working-checkpoint.ipynb
Factset.csv
__pycache__/transcript_functions.cpython-36.pyc
__pycache__/transcript_functions.cpython-36.pyc
Transcripts Scraping/.ipynb_checkpoints/transcripts_scraper-checkpoint.ipynb
.ipynb_checkpoints/transcripts_scraper-checkpoint.ipynb
.ipynb_checkpoints/Transcripts_others_working-checkpoint.ipynb
.ipynb_checkpoints/Transcripts_walmart_working-checkpoint.ipynb
.ipynb_checkpoints/Transcripts_Amazon_working-checkpoint.ipynb
Transcripts Scraping/.ipynb_checkpoints/Amazon Transcripts-checkpoint.ipynb
Transcripts Scraping/.ipynb_checkpoints/CostcoTranscripts-checkpoint.ipynb
.ipynb_checkpoints/Transcripts_Amazon_pending-checkpoint.ipynb
Transcripts_Amazon_pending.ipynb
Transcripts_Others_pending.ipynb
.ipynb_checkpoints/Transcripts_Others_pending-checkpoint.ipynb
.ipynb_checkpoints/Transcripts_all_companies-checkpoint.ipynb
.ipynb_checkpoints/Transcripts_dictionary_training-checkpoint.ipynb
Transcripts_dictionary_training.ipynb
Financial/OM386-20200129.Rmd
Financial/OM386-20200205.Rmd
Financial/OM386-20200210.Rmd
SEC Scraping/XML_PARSED_2/.ipynb_checkpoints/Function Seq LDA test transcripts-checkpoint.ipynb
.ipynb_checkpoints/Transcripts_all_companies_20200412-checkpoint.ipynb
.ipynb_checkpoints/Transcripts_all_companies-Copy1-checkpoint.ipynb
Financial/.Rhistory
Financial/stock/.ipynb_checkpoints/prepare_stock_data-checkpoint.ipynb
Transcripts_all_companies-Copy1.ipynb
